# **1. Data Preprocessing**
- [Dataset Download](https://www.kaggle.com/uciml/sms-spam-collection-dataset)

## 1-1. 데이터 확인

우선, kaggle에서 제공하는 데이터셋을 다운받습니다.

In [34]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import urllib.request

In [35]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/mohitgupta-omg/Kaggle-SMS-Spam-Collection-Dataset-/master/spam.csv", filename="spam.csv")
data = pd.read_csv('spam.csv',encoding='latin1')

print('총 데이터 수 :',len(data))

총 데이터 수 : 5572

우선 데이터 확인을 위해 기존 데이터에서 **상위 10개**만 추출하여 확인해봅니다.

In [36]:
data[:10]

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN
5  spam  ...        NaN
6   ham  ...        NaN
7   ham  ...        NaN
8  spam  ...        NaN
9  spam  ...        NaN

[10 rows x 5 columns]

## 1-2.불필요한 열 제거

불필요한 열 : `Unnamed: n`

위 3개의 열은 텍스트 분류를 진행하기엔 불필요한 열입니다.

위 3개의 열을 삭제하고 2개의 열(`v1`,`v2`)를 (`category`, `text`)로 변경합니다.

In [37]:
data = data[data.columns[:2]] # 두열만 가져온다. 
data.columns = ['category', 'text']

In [39]:
data

     category                                               text
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

해당 데이터의 정보 확인

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  5572 non-null   object
 1   text      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

`null`값 확인

In [41]:
data.isnull().values.any()

False

중복 데이터 확인

In [42]:
data['text'].nunique(), data['category'].nunique()

(5169, 2)

In [43]:
df = pd.DataFrame(data)
duplicatedDF = df[df.duplicated()]
print(duplicatedDF)

     category                                               text
102       ham  As per your request 'Melle Melle (Oru Minnamin...
153       ham  As per your request 'Melle Melle (Oru Minnamin...
206       ham  As I entered my cabin my PA said, '' Happy B'd...
222       ham                             Sorry, I'll call later
325       ham                   No calls..messages..missed calls
...       ...                                                ...
5524     spam  You are awarded a SiPix Digital Camera! call 0...
5535      ham  I know you are thinkin malaria. But relax, chi...
5539      ham                         Just sleeping..and surfing
5553      ham                        Hahaha..use your brain dear
5558      ham                             Sorry, I'll call later

[403 rows x 2 columns]

5,572개 중  `403`개의 중복 데이터가 존재한다는 것을 확인하였습니다.

In [44]:
data.drop_duplicates(subset=['text'], inplace=True)

In [45]:
df = pd.DataFrame(data)
print(df)  # 출력 DataFrame

     category                                               text
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ì_ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5169 rows x 2 columns]